In [1]:
# Import the json module.
import json

# Assign the string data to a variable. 
data = '{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}'

# Convert the string data to a dictionary.
converted_data = json.loads(data)

# Iterate through the dictionary (row) and get the values.
row_values = [v for k, v in converted_data.items()]

print(row_values)

[4661, 'Cecilia Velasco', 'cecilia.velasco@rodrigues.fr']

In [3]:
dict_data = {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

convert_data1 = json.loads(data1)
row_values1 = [v for k, v in converted_data1.items()]

print(row_values1)

NameError: name 'data1' is not defined

In [4]:
# use replace method to make the above cell readable 
data1 = data.replace("'", '"')
print(data1)

{"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}

In [5]:
# Import the regular expression module.
import re

# Assign the string data to a variable. 
string_data = "contact_id 4661 name Cecilia Velasco email cecilia.velasco@rodrigues.fe"

# Extract the four digit number.
contact_id = re.findall(r'(\d{4})', string_data)
print(contact_id)

['4661']

In [6]:
# import dependencies
import pandas as pd

In [7]:
# read the csv contacts string data
contacts_string_df = pd.read_csv("contacts_string_data.csv")
contacts_string_df.head()

                                        contact_info
0  contact_id 4661 name Cecilia Velasco email cec...
1  contact_id 3765 name Mariana Ellis email maria...
2  contact_id 4187 name Sofie Woods email sofie.w...
3  contact_id 4941 name Jeanette Iannotti email j...
4  contact_id 2199 name Samuel Sorgatz email samu...

In [8]:
# extract 4 digit contact ID number into a new column

contacts_string_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')

In [9]:
contacts_string_df.head()

                                        contact_info contact_id
0  contact_id 4661 name Cecilia Velasco email cec...       4661
1  contact_id 3765 name Mariana Ellis email maria...       3765
2  contact_id 4187 name Sofie Woods email sofie.w...       4187
3  contact_id 4941 name Jeanette Iannotti email j...       4941
4  contact_id 2199 name Samuel Sorgatz email samu...       2199

In [11]:
# extract the first and last name after the word "name"
name = re.findall(r'([^nameil\s+][A-Za-z]+\s+[A-Za-z]+)', string_data)
name

['Cecilia Velasco']

In [12]:
# extract the email address using a regular expression pattern
email_address = re.findall(r'(\S+@\S+)', string_data)
email_address

['cecilia.velasco@rodrigues.fe']